@import "../../properties.scss";

.loginContainer{
    display: block;
    width: 1124px;
    justify-content: center;
    align-items: center;
    margin:auto;
    max-width: 95%;
    padding-top: 30px;
    padding-bottom: 170px;
}